@import url(https://fonts.googleapis.com/css2?family=Noto+Serif); /*Latin, Cyrilic, Greek, Vietnamese*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker); /*h1 header*/
@import url(https://fonts.googleapis.com/css2?family=David+Libre); /*hebrew*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR); /*korean*/
@import url(https://fonts.googleapis.com/css2?family=Noto+SerifJP); /*japanese*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC); /*traditional chinese*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+SC); /*simplified chinese*/
@import url(https://fonts.googleapis.com/css2?family=Eczar); /*devanagari*/
@import url(https://fonts.googleapis.com/css2?family=Arima+Madurai); /*tamil*/
@import url(https://fonts.googleapis.com/css2?family=Peddana); /*telugu*/
@import url(https://fonts.googleapis.com/css2?family=Gayathri); /*malayalam*/
@import url(https://fonts.googleapis.com/css2?family=Rasa); /*gujarati*/
@import url(https://fonts.googleapis.com/css2?family=Mukta+Mahee); /*gurmukhi punjabi*/

@import url(https://fonts.googleapis.com/earlyaccess/notoserifthai.css); /*thai*/
@import url(https://fonts.googleapis.com/earlyaccess/notoseriflao.css); /*laotian*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css); /*kannada*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansoriya.css); /*oriya*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css); /*bengali*/

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(tsstApxBaigK_hnnQ1iFo0C3.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
    font-family: 'Qomolangma-Uchen Sarchung';
    src: url('Qomolangma-UchenSarchung.woff2') format('woff2'),
        url('Qomolangma-UchenSarchung.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Siddham';
    src: url('NotoSansSiddham-Regular.woff2') format('woff2'),
        url('NotoSansSiddham-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mongolian Universal White';
    src: url('MongolianUniversalWhite.woff2') format('woff2'),
        url('MongolianUniversalWhite.woff') format('woff'),
	url('MongolianUniversalWhite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Mongolian Test';
	src:local('Mongolian Test'),
		url('MongolianTest.ttf') format('truetype');
}
@font-face {
    font-family: 'XM_ZB';
    src: url('Fu_XM_ZhengBai_PSMT.woff2') format('woff2'),
        url('Fu_XM_ZhengBai_PSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'XM_BH';
    src: url('Fu_XM_BiaoHei_PSMT.woff2') format('woff2'),
        url('Fu_XM_BiaoHei_PSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 	font-family: 'Onon Sonin Sans';
	src:local('Onon Sonin Sans'),
    	   url('OnonSoninSans.woff') format('woff');
}
@font-face {
    font-family: 'Yagpo Tibetan Uni';
    src: url(YagpoTibetanUni.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif Georgian';
    src: url('NotoSerifGeorgian-Regular.woff2') format('woff2'),
        url('NotoSerifGeorgian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amarawathi-UPB';
    src: url('Amarawathi-UPB.woff2') format('woff2'),
        url('Amarawathi-UPB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Soyombo';
    src: url('NotoSansSoyombo-Regular.woff2') format('woff2'),
        url('NotoSansSoyombo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Brahmi';
    src: url('NotoSansBrahmi.woff2') format('woff2'),
        url('NotoSansBrahmi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ArmBoloragir';
    src: url('ArmBoloragir-Italic.woff2') format('woff2'),
        url('ArmBoloragir-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
 	font-family: 'Nom Na Tong Light';
	src:local('Nom Na Tong Light'),
    		url('NomNaTongLight.ttf') format('woff');
}
@font-face {
    font-family: 'Menk Garqag Tig';
    src: url('MenkGarqagTig.woff2') format('woff2'),
        url('MenkGarqagTig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Menksoft2012';
    src: url('Menksoft2012') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oyun Garbiqimel Tig';
    src: url('OyunGarbiqimelTig.woff2') format('woff2'),
        url('OyunGarbiqimelTig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Todo_rom';
    src: url('TodoromRoman.woff2') format('woff2'),
        url('TodoromRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ApDevaSiddham';
    src: url('ApDevaSiddham.woff2') format('woff2'),
        url('ApDevaSiddham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
font-family: 'Mongolian White';
src:local('Mongolian White'), url('mnglwhiteotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Writing';
src:local('Mongolian Writing'), url('mnglwritingotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Art';
src:local('Mongolian Art'), url('mnglartotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Title';
src:local('Mongolian Title'), url('mngltitleotf.ttf') format('truetype');
}
@font-face {
	font-family: 'MongolianScript';
	src:local('MongolianScript'),
		url('MongolianScript.ttf') format('truetype');
}
@font-face {
	font-family: 'BhashitaComplex';
	src:local('BhashitaComplex'),
		url('BhashitaComplex.ttf') format('truetype');
}
@font-face {
	font-family: 'BhashitaComplexSans';
	src:local('BhashitaComplexSans'),
		url('BhashitaComplexSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Mongolian';
    src: url('NotoSansMongolian.woff2') format('woff2'),
        url('NotoSansMongolian.woff') format('woff'),
	url('NotoSansMongolian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
font-family: 'Bichimel';
src:local('Bichimel'), url('Bichimel.ttf') format('truetype');
}
@font-face {
font-family: 'Chagan';
src:local('Chagan'), url('Chagan.ttf') format('truetype');
}
@font-face {
font-family: 'Garchag';
src:local('Garchag'), url('Garchag.ttf') format('truetype');
}
@font-face {
font-family: 'Syurga';
src:local('Syurga'), url('Syurga.ttf') format('truetype');
}
@font-face {
font-family: 'Urga';
src:local('Urga'), url('Urga.ttf') format('truetype');
}
@font-face {
    font-family: 'Menk Mcdvnbar Tig';
    src: url('MenkMcdvnbarTig.woff2') format('woff2'),
        url('MenkMcdvnbarTig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Consolas';
    src: url('Consolas.woff2') format('woff2'),
        url('Consolas.woff') format('woff'),
        url('Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Mono';
    src: url('NotoSansMono-Regular.woff2') format('woff2'),
        url('NotoSansMono-Regular.woff') format('woff'),
        url('NotoSansMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
font-family: 'Mongolian Baiti';
src: url('monbaiti.ttf') format('truetype');
unicode-range: U+1800-18AA, U+202F;
}
@font-face {
    font-family: 'Menksoft Todo_Hara';
    src: url('MenksoftTodo_Hara.woff2') format('woff2'),
        url('MenksoftTodo_Hara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menksoft Todo_Garqag';
    src: url('MenksoftTodo_Garqag.woff2') format('woff2'),
        url('MenksoftTodo_Garqag.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menksoft Todo_Biqimel';
    src: url('MenksoftTodo_Biqimel.woff2') format('woff2'),
        url('MenksoftTodo_Biqimel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menksoft Todo_Qagan';
    src: url('MenksoftTodo_Qagan.woff2') format('woff2'),
        url('MenksoftTodo_Qagan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MenksoftHuiHu1';
    src: url('MenksoftHuiHu1.woff2') format('woff2'),
        url('MenksoftHuiHu1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MenksoftHuiHu2';
    src: url('MenksoftHuiHu2.woff2') format('woff2'),
        url('MenksoftHuiHu2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khitan Small Linear';
    src: url('KhitanSmallLinear.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BabelStone Khitan Small Linear';
    src: url('BabelStoneKhitanSmallLinear.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khitan Small Vertical';
    src: url('KhitanSmallVertical.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khitan Small Rotated';
    src: url('KhitanSmallRotated.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALKATIP Basma Tom';
    src: url('ALKATIPBASMATOM.woff') format('woff'),
        url('ALKATIPBASMATOM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Kaithi';
    src: url('NotoSansKaithi-Regular.otf') format('opentype');
}
@font-face {
font-family: 'KaiTi';
src:local('KaiTi'), url('kaiti.ttf') format('truetype');
}
@font-face {
font-family: 'UKIJ Diwani Kawak';
src:local('UKIJ Diwani Kawak'), url('UKIJDiK.ttf') format('truetype');
}
@font-face {
font-family: 'UKIJ Tuz Basma Bold';
src:local('UKIJ Tuz Basma Bold'), url('UKIJTuzBB.ttf') format('truetype');
}
@font-face {
font-family: 'Tharlon';
src:local('Tharlon'), url('Tharlon-Regular.woff2') format('woff2');
}
@font-face {
font-family: 'Odor Mean Chey';
src:local('Odor Mean Chey'), url('OdorMeanChey.woff2') format('woff2');
unicode-range: U+1780-17FF, U+200C, U+25CC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-family: 'UKIJ Ekran';
src: url('UKIJEkran.ttf') format('truetype');
}
@font-face {
font-family: 'Noto Sans Arabic';
src: url('NotoSansArabic-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'Noto Sans Arabic Medium';
src: url('NotoSansArabic-Medium.ttf') format('truetype');
}
@font-face {
font-family: 'Noto Nastaliq Urdu';
src: url('NotoNastaliqUrdu-Regular.woff') format('woff');
}
@font-face {
font-family: 'Droid Arabic Naskh';
src: url('DroidNaskh-Regular.woff') format('woff');
}
@font-face {
font-family: 'Droid Arabic Naskh';
src: url('DroidNaskh-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Times New Roman';
  src: url(TimesNewRoman.ttf) format('truetype');
  unicode-range: U+0000-058F;
}

@font-face {
    font-family: 'Noto Sans Sinhala';
    src: url('NotoSansSinhala-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans Sinhala Medium';
    src: url('NotoSansSinhala-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Serif Sinhala';
    src: url('NotoSerifSinhala-Regular.ttf');
}
