@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(tsstApxBaigK_hnnQ1iFo0C3.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
    font-family: 'Qomolangma-Uchen Sarchung';
    src: url('Qomolangma-UchenSarchung.woff2') format('woff2'),
        url('Qomolangma-UchenSarchung.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Siddham';
    src: url('NotoSansSiddham-Regular.woff2') format('woff2'),
        url('NotoSansSiddham-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mongolian Universal White';
    src: url('MongolianUniversalWhite.woff2') format('woff2'),
        url('MongolianUniversalWhite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Mongolian Test';
	src:local('Mongolian Test'),
		url('MongolianTest.ttf') format('truetype');
}
@font-face {
	font-family: 'XM_ZB';
	src:local('XM_ZB'),
		url('XM_ZhengBai.ttf') format('truetype');
}
@font-face {
 	font-family: 'Onon Sonin Sans';
	src:local('Onon Sonin Sans'),
    		url('OnonSoninSans.woff') format('woff');
}
