@import url(https://fonts.googleapis.com/css2?family=Noto+Serif); /*Latin, Cyrilic, Greek, Vietnamese*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker); /*h1 header*/
@import url(https://fonts.googleapis.com/css2?family=David+Libre); /*hebrew*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR); /*korean*/
@import url(https://fonts.googleapis.com/css2?family=Noto+SerifJP); /*japanese*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC); /*traditional chinese*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+SC); /*simplified chinese*/
@import url(https://fonts.googleapis.com/css2?family=Odor+Mean+Chey); /*khmer*/
@import url(https://fonts.googleapis.com/css2?family=Eczar); /*devanagari*/
@import url(https://fonts.googleapis.com/css2?family=Arima+Madurai); /*tamil*/
@import url(https://fonts.googleapis.com/css2?family=Peddana); /*telugu*/
@import url(https://fonts.googleapis.com/css2?family=Gayathri); /*malayalam*/
@import url(https://fonts.googleapis.com/css2?family=Rasa); /*gujarati*/
@import url(https://fonts.googleapis.com/css2?family=Mukta+Mahee); /*gurmukhi punjabi*/

@import url(https://fonts.googleapis.com/earlyaccess/notoserifthai.css); /*thai*/
@import url(https://fonts.googleapis.com/earlyaccess/notoseriflao.css); /*laotian*/
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css); /*default arabic*/
@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css); /*urdu nastaliq*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css); /*kannada*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansoriya.css); /*oriya*/
@import url(https://fonts.googleapis.com/earlyaccess/tharlon.css); /*burmese*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansbengali.css); /*bengali*/

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(tsstApxBaigK_hnnQ1iFo0C3.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
    font-family: 'Qomolangma-Uchen Sarchung';
    src: url('Qomolangma-UchenSarchung.woff2') format('woff2'),
        url('Qomolangma-UchenSarchung.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Siddham';
    src: url('NotoSansSiddham-Regular.woff2') format('woff2'),
        url('NotoSansSiddham-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mongolian Universal White';
    src: url('MongolianUniversalWhite.woff2') format('woff2'),
        url('MongolianUniversalWhite.woff') format('woff'),
	url('MongolianUniversalWhite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Mongolian Test';
	src:local('Mongolian Test'),
		url('MongolianTest.ttf') format('truetype');
}
@font-face {
    font-family: 'XM_ZB';
    src: url('Fu_XM_ZhengBai_PSMT.woff2') format('woff2'),
        url('Fu_XM_ZhengBai_PSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'XM_BH';
    src: url('Fu_XM_BiaoHei_PSMT.woff2') format('woff2'),
        url('Fu_XM_BiaoHei_PSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 	font-family: 'Onon Sonin Sans';
	src:local('Onon Sonin Sans'),
    		url('OnonSoninSans.woff') format('woff');
}
@font-face {
    font-family: 'Yagpo Tibetan Uni';
    src: url('YagpoTibetanUni.woff2') format('woff2'),
        url('YagpoTibetanUni.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif Georgian';
    src: url('NotoSerifGeorgian-Regular.woff2') format('woff2'),
        url('NotoSerifGeorgian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amarawathi-UPB';
    src: url('Amarawathi-UPB.woff2') format('woff2'),
        url('Amarawathi-UPB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Soyombo';
    src: url('NotoSansSoyombo-Regular.woff2') format('woff2'),
        url('NotoSansSoyombo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Brahmi';
    src: url('NotoSansBrahmi.woff2') format('woff2'),
        url('NotoSansBrahmi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ArmBoloragir';
    src: url('ArmBoloragir-Italic.woff2') format('woff2'),
        url('ArmBoloragir-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
 	font-family: 'Nom Na Tong Light';
	src:local('Nom Na Tong Light'),
    		url('NomNaTongLight.ttf') format('woff');
}
@font-face {
    font-family: 'Menk Garqag Tig';
    src: url('MenkGarqagTig.woff2') format('woff2'),
        url('MenkGarqagTig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Menksoft2012';
    src: url('Menksoft2012') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oyun Garbiqimel Tig';
    src: url('OyunGarbiqimelTig.woff2') format('woff2'),
        url('OyunGarbiqimelTig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Todo_rom';
    src: url('TodoromRoman.woff2') format('woff2'),
        url('TodoromRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ApDevaSiddham';
    src: url('ApDevaSiddham.woff2') format('woff2'),
        url('ApDevaSiddham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
font-family: 'Mongolian White';
src:local('Mongolian White'), url('mnglwhiteotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Writing';
src:local('Mongolian Writing'), url('mnglwritingotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Art';
src:local('Mongolian Art'), url('mnglartotf.ttf') format('truetype');
}
@font-face {
font-family: 'Mongolian Title';
src:local('Mongolian Title'), url('mngltitleotf.ttf') format('truetype');
}
@font-face {
	font-family: 'MongolianScript';
	src:local('MongolianScript'),
		url('MongolianScript.ttf') format('truetype');
}
@font-face {
	font-family: 'BhashitaComplex';
	src:local('BhashitaComplex'),
		url('BhashitaComplex.ttf') format('truetype');
}
@font-face {
	font-family: 'BhashitaComplexSans';
	src:local('BhashitaComplexSans'),
		url('BhashitaComplexSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Mongolian';
    src: url('NotoSansMongolian.woff2') format('woff2'),
        url('NotoSansMongolian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
